table{
    border: solid;
}
th{
    text-align: left;
}

.actionbtn{
        background-color: transparent;
        color: #777;
        text-decoration: underline;
        border: none;
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
  }
  
  footer {
    margin-top: auto;

    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background: #111;
    height: auto;
    width: 100vw;
    padding-top: 40px;
    color: #fff;
    text-align: center;
  }