.producttable{
    border: solid;
    border-collapse: collapse;
    height: 600px;
}
.carttable{
    border-collapse: collapse;
    border: solid;
}

.tableFixHead          { overflow: auto; height: 600px; }
.tableFixHead thead th { position: sticky; top: 0; z-index: 1; }

th, td { padding: 2px 4px; }

th{
    text-align: left;
    background:#eee; 
}
tr{
    border-bottom: 1px solid #ccc;
}

.actionbtn{
        background-color: transparent;
        color: #777;
        text-decoration: underline;
        border: none;
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
  }
  
  footer {
    margin-top: auto;

    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background: #111;
    height: auto;
    width: 100vw;
    padding-top: 40px;
    color: #fff;
    text-align: center;
  }